In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
rental_data = pd.read_csv('Rental_dataset.csv')

In [16]:
rental_data.head()

,Unnamed: 0,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [17]:
#### removing Un named columns

del rental_data['Unnamed: 0']

In [18]:
rental_data.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

### Finding the missing Values:

In [19]:
rental_data.isnull().sum()

House Type                   0
Location                     0
Price                        0
Built up Area                0
Furnishing Status            0
Highlights/Insights          0
Agent Name                   0
Verification Status          0
No. of customer Contacted    0
City                         0
dtype: int64

In [20]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1950 non-null   object
 1   Location                   1950 non-null   object
 2   Price                      1950 non-null   object
 3   Built up Area              1950 non-null   object
 4   Furnishing Status          1950 non-null   object
 5   Highlights/Insights        1950 non-null   object
 6   Agent Name                 1950 non-null   object
 7   Verification Status        1950 non-null   object
 8   No. of customer Contacted  1950 non-null   object
 9   City                       1950 non-null   object
dtypes: object(10)
memory usage: 152.5+ KB

In [21]:
print(rental_data['Verification Status'])

0           Verified
1           Verified
2           Verified
3           Verified
4           Verified
            ...
1945    Not Verified
1946    Not Verified
1947    Not Verified
1948    Not Verified
1949        Verified
Name: Verification Status, Length: 1950, dtype: object

In [22]:
rental_data.tail(15)

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
1935,3 BHK Villa,Injambakkam,"₹65,000",2400 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Grocery Sto...",JSS BLOOM REALITY,Not Verified,0,Madras
1936,4 BHK Independent House,Palavakkam,"₹1,00,000",4200 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to ATM', 'Clos...",JSS BLOOM REALITY,Not Verified,0,Madras
1937,2 BHK Flat,Perungudi,"₹50,000",1200 sq.ft,Semi furnished,"['Modular Switches', 'Swimming Pool', '24x7 Se...",JSS BLOOM REALITY,Not Verified,0,Madras
1938,4 BHK Independent House,Uthandi,"₹1,25,000",4000 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1939,4 BHK Flat,Karapakkam,"₹76,500",2344 sq.ft,Fully furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1940,4 BHK Independent House,Uthandi,"₹1,00,000",4500 sq.ft,Semi furnished,"['Modular Switches', 'Swimming Pool', '24x7 Se...",JSS BLOOM REALITY,Not Verified,0,Madras
1941,1 BHK Independent House,Sholinganallur,"₹15,000",450 sq.ft,Un-furnished,['Amenities: Parking'],Manoj Kumar,Verified,0,Madras
1942,3.5 BHK Flat,Mylapore,"₹1,00,000",2500 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1943,3 BHK Flat,Perungudi,"₹1,30,000",1820 sq.ft,Semi furnished,"['Lift', 'Power Backup', 'Gymnasium', 'Gated C...",PROP TODAY LLP,Not Verified,0,Madras
1944,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3950 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1945,3 BHK Flat,Perungudi,"₹60,000",1650 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1946,3 BHK Villa,Sholinganallur,"₹90,000",1606 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1947,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3955 sq.ft,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,Not Verified,0,Madras
1948,2 BHK Flat,Sholinganallur,"₹28,000",1240 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1949,3 BHK Independent House,Thoraipakkam,"₹30,000",2000 sq.ft,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,0,Madras

In [23]:
rental_data['Verification Status']

0           Verified
1           Verified
2           Verified
3           Verified
4           Verified
            ...
1945    Not Verified
1946    Not Verified
1947    Not Verified
1948    Not Verified
1949        Verified
Name: Verification Status, Length: 1950, dtype: object

In [24]:
# Replacing null values in verification status into Non Verified.
rental_data['Verification Status'] = rental_data['Verification Status'].apply(lambda x : 'Not Verified' if pd.isnull(x) else x)

In [25]:
rental_data.tail(15)

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
1935,3 BHK Villa,Injambakkam,"₹65,000",2400 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Grocery Sto...",JSS BLOOM REALITY,Not Verified,0,Madras
1936,4 BHK Independent House,Palavakkam,"₹1,00,000",4200 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to ATM', 'Clos...",JSS BLOOM REALITY,Not Verified,0,Madras
1937,2 BHK Flat,Perungudi,"₹50,000",1200 sq.ft,Semi furnished,"['Modular Switches', 'Swimming Pool', '24x7 Se...",JSS BLOOM REALITY,Not Verified,0,Madras
1938,4 BHK Independent House,Uthandi,"₹1,25,000",4000 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1939,4 BHK Flat,Karapakkam,"₹76,500",2344 sq.ft,Fully furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1940,4 BHK Independent House,Uthandi,"₹1,00,000",4500 sq.ft,Semi furnished,"['Modular Switches', 'Swimming Pool', '24x7 Se...",JSS BLOOM REALITY,Not Verified,0,Madras
1941,1 BHK Independent House,Sholinganallur,"₹15,000",450 sq.ft,Un-furnished,['Amenities: Parking'],Manoj Kumar,Verified,0,Madras
1942,3.5 BHK Flat,Mylapore,"₹1,00,000",2500 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1943,3 BHK Flat,Perungudi,"₹1,30,000",1820 sq.ft,Semi furnished,"['Lift', 'Power Backup', 'Gymnasium', 'Gated C...",PROP TODAY LLP,Not Verified,0,Madras
1944,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3950 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1945,3 BHK Flat,Perungudi,"₹60,000",1650 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1946,3 BHK Villa,Sholinganallur,"₹90,000",1606 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1947,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3955 sq.ft,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,Not Verified,0,Madras
1948,2 BHK Flat,Sholinganallur,"₹28,000",1240 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1949,3 BHK Independent House,Thoraipakkam,"₹30,000",2000 sq.ft,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,0,Madras

In [26]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1950 non-null   object
 1   Location                   1950 non-null   object
 2   Price                      1950 non-null   object
 3   Built up Area              1950 non-null   object
 4   Furnishing Status          1950 non-null   object
 5   Highlights/Insights        1950 non-null   object
 6   Agent Name                 1950 non-null   object
 7   Verification Status        1950 non-null   object
 8   No. of customer Contacted  1950 non-null   object
 9   City                       1950 non-null   object
dtypes: object(10)
memory usage: 152.5+ KB

In [27]:
rental_data.isnull().sum()

House Type                   0
Location                     0
Price                        0
Built up Area                0
Furnishing Status            0
Highlights/Insights          0
Agent Name                   0
Verification Status          0
No. of customer Contacted    0
City                         0
dtype: int64

In [28]:
# Replacing Number of customer's contacted:

rental_data[rental_data['No. of customer Contacted'].isnull()]

Empty DataFrame
Columns: [House Type, Location, Price, Built up Area, Furnishing Status, Highlights/Insights, Agent Name, Verification Status, No. of customer Contacted, City]
Index: []

In [29]:
rental_data['No. of customer Contacted'] = rental_data['No. of customer Contacted'].apply(lambda x: 0 if pd.isnull(x) else x)

In [30]:
rental_data.head(15)

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad
5,3 BHK Flat,Zundal,"₹35,000",1500 sq.ft,Fully furnished,"['Lift', 'Landscaped Garden', '24x7 Security',...",Spacious Realty,Verified,500+,Ahmedabad
6,3 BHK Flat,Bopal,"₹30,000",1100 sq.ft,Un-furnished,['Amenities: Parking'],Bhavesh,Verified,500+,Ahmedabad
7,4 BHK Villa,Shantipura,"₹35,000",1800 sq.ft,Un-furnished,"['Cycling & Jogging Track', 'Children Play Are...",Property Navigators LLP,"Verified,New",500+,Ahmedabad
8,3.5 BHK Flat,Shela,"₹26,000",1510 sq.ft,Semi furnished,"[""Nearby: St. Xavier's High School Loyola Hall...",Utkarsh Gohil,New,0,Ahmedabad
9,1.5 BHK Flat,Vejalpur,"₹16,500",930 sq.ft,Semi furnished,"['Nearby: DAV International School- 0.1 km', '...",Arvind Yadav,New,0,Ahmedabad
10,2 BHK Flat,Jagatpur,"₹28,000",1200 sq.ft,Fully furnished,"['Amenities: Pool', 'Gym', 'Lift', 'Parking']",Realest,Verified,500+,Ahmedabad
11,3 BHK Flat,Shilaj,"₹30,000",1760 sq.ft,Un-furnished,"['Amenities: Pool', 'Gym', 'Lift', 'Parking']",Neeraj Bhojwani,"Verified,New",500+,Ahmedabad
12,3 BHK Flat,Gota,"₹24,111",1899 sq.ft,Semi furnished,"['24x7 Security', 'Power Backup', 'Close to Ho...",QUALITY LIVING PROPERTY SOLUTIONS,"Verified,New",500+,Ahmedabad
13,2 BHK Flat,Vaishno Devi Circle,"₹22,000",1214 sq.ft,Semi furnished,"['24x7 Security', 'Gymnasium', 'Swimming Pool'...",Home Address Realty,Verified,500+,Ahmedabad
14,2 BHK Flat,Vaishno Devi Circle,"₹19,000",1044 sq.ft,Fully furnished,"['24x7 Security', 'Gymnasium', 'Power Backup',...",Agrawal Real Estate,"Verified,New",500+,Ahmedabad

In [31]:
rental_data.isnull().sum()

House Type                   0
Location                     0
Price                        0
Built up Area                0
Furnishing Status            0
Highlights/Insights          0
Agent Name                   0
Verification Status          0
No. of customer Contacted    0
City                         0
dtype: int64

In [32]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1950 non-null   object
 1   Location                   1950 non-null   object
 2   Price                      1950 non-null   object
 3   Built up Area              1950 non-null   object
 4   Furnishing Status          1950 non-null   object
 5   Highlights/Insights        1950 non-null   object
 6   Agent Name                 1950 non-null   object
 7   Verification Status        1950 non-null   object
 8   No. of customer Contacted  1950 non-null   object
 9   City                       1950 non-null   object
dtypes: object(10)
memory usage: 152.5+ KB

### Removing Duplicate Values

In [39]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1897 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   object
 3   Built up Area              1897 non-null   object
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1897 non-null   object
 9   City                       1897 non-null   object
dtypes: object(10)
memory usage: 163.0+ KB

In [40]:
rental_data.duplicated().sum()

0

In [35]:
rental_data.shape

(1950, 10)

In [36]:
rental_data.drop_duplicates(keep = 'first' , inplace = True)

In [37]:
rental_data.duplicated().sum()

0

In [38]:
rental_data.shape

(1897, 10)

In [24]:
rental_data

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...
1945,3 BHK Flat,Perungudi,"₹60,000",1650 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1946,3 BHK Villa,Sholinganallur,"₹90,000",1606 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1947,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3955 sq.ft,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,Not Verified,0,Madras
1948,2 BHK Flat,Sholinganallur,"₹28,000",1240 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1949,3 BHK Independent House,Thoraipakkam,"₹30,000",2000 sq.ft,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,0,Madras

In [25]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1897 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   object
 3   Built up Area              1897 non-null   object
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1897 non-null   object
 9   City                       1897 non-null   object
dtypes: object(10)
memory usage: 163.0+ KB

### Converting Data Types:

In [26]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1897 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   object
 3   Built up Area              1897 non-null   object
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1897 non-null   object
 9   City                       1897 non-null   object
dtypes: object(10)
memory usage: 163.0+ KB

In [27]:
# converting price into int:

rental_data.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [28]:
rental_data['Price'] = rental_data['Price'].str.replace('₹','')

In [29]:
rental_data.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,"1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,"60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,"30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,"40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,"46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [30]:
rental_data['Price'] = rental_data['Price'].str.replace(',','')

In [31]:
rental_data.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [32]:
rental_data['Price'] = rental_data['Price'].astype(int)

In [33]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1897 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   int32
 3   Built up Area              1897 non-null   object
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1897 non-null   object
 9   City                       1897 non-null   object
dtypes: int32(1), object(9)
memory usage: 155.6+ KB

In [34]:
#rental_data['Built up Area'] = rental_data['Built up Area in sq.f']

In [35]:
rental_data.rename(columns = {'Built up Area': 'Built up Area in sq.ft'}, inplace=True)

In [36]:
rental_data.head()

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [37]:
rental_data['Built up Area in sq.ft'] = rental_data['Built up Area in sq.ft'].str.replace('sq.ft','')

In [38]:
rental_data.head()

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [39]:
rental_data['Built up Area in sq.ft'].apply(lambda x : x.strip())

0       4700
1       7990
2       1750
3       1850
4       1080
        ...
1945    1650
1946    1606
1947    3955
1948    1240
1949    2000
Name: Built up Area in sq.ft, Length: 1897, dtype: object

In [40]:
rental_data.head()

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [41]:
rental_data['Built up Area in sq.ft'] = rental_data['Built up Area in sq.ft'].astype(float)

In [42]:
rental_data.head()

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700.0,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990.0,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750.0,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850.0,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080.0,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [43]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1897 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   int32
 3   Built up Area in sq.ft     1897 non-null   float64
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1897 non-null   object
 9   City                       1897 non-null   object
dtypes: float64(1), int32(1), object(8)
memory usage: 155.6+ KB

In [44]:
rental_data['Verification Status'].unique()

array(['Verified', 'Verified,New', 'New', 'Not Verified',
       'NewNo Brokerage'], dtype=object)

In [45]:
# Making values as equal in verifications status

In [46]:
rental_data[rental_data['Verification Status'] == 'NewNo Brokerage']

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
668,3 BHK Flat,Rajarhat,20000,1300.0,Un-furnished,"['Amenities: Pool', 'Gym', 'Lift', 'Parking']",Soumen Das,NewNo Brokerage,0,Calcutta
669,2 BHK Independent Builder Floor,Ashok Nagar,12000,680.0,Semi furnished,"['Amenities: Parking', 'Intercom', 'Pet Allowe...",Pew Mondal,NewNo Brokerage,0,Calcutta

In [47]:
rental_data['Verification Status'] = rental_data['Verification Status'].apply(lambda x: 'New' if x == 'NewNo Brokerage' else x)

In [48]:
rental_data['Verification Status'].unique()

array(['Verified', 'Verified,New', 'New', 'Not Verified'], dtype=object)

In [49]:
rental_data.loc[667:670]

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
667,3 BHK Flat,New Town,31000,1250.0,Fully furnished,"['24x7 Security', 'Close to Mall', 'School Pro...",Sudipta Sarkar,Verified,400+,Calcutta
668,3 BHK Flat,Rajarhat,20000,1300.0,Un-furnished,"['Amenities: Pool', 'Gym', 'Lift', 'Parking']",Soumen Das,New,0,Calcutta
669,2 BHK Independent Builder Floor,Ashok Nagar,12000,680.0,Semi furnished,"['Amenities: Parking', 'Intercom', 'Pet Allowe...",Pew Mondal,New,0,Calcutta
670,3 BHK Flat,New Town,35000,1370.0,Semi furnished,"['Indoor Game Room', 'Football Field', 'Gymnas...",LANDMARK REALTORS,Verified,400+,Calcutta

In [50]:
rental_data.tail()

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
1945,3 BHK Flat,Perungudi,60000,1650.0,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,0,Madras
1946,3 BHK Villa,Sholinganallur,90000,1606.0,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1947,4 BHK Flat,Raja Annamalai Puram,400000,3955.0,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,Not Verified,0,Madras
1948,2 BHK Flat,Sholinganallur,28000,1240.0,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,0,Madras
1949,3 BHK Independent House,Thoraipakkam,30000,2000.0,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,0,Madras

In [51]:
# Cheking values in furnishing  status

In [52]:
rental_data['Furnishing Status'].unique()

array(['Semi furnished', 'Fully furnished', 'Un-furnished'], dtype=object)

In [53]:
rental_data['Verification Status'].unique()

array(['Verified', 'Verified,New', 'New', 'Not Verified'], dtype=object)

In [54]:
# adjucting index numbers,

In [55]:
rental_data.reset_index(drop = True, inplace = True)

In [56]:
rental_data.head()

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700.0,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990.0,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750.0,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850.0,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080.0,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad

In [60]:
rental_data['No. of customer Contacted'] = rental_data['No. of customer Contacted'].str.replace('+','').astype(float)

In [61]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   int32
 3   Built up Area in sq.ft     1897 non-null   float64
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1715 non-null   float64
 9   City                       1897 non-null   object
dtypes: float64(2), int32(1), object(7)
memory usage: 140.9+ KB

In [62]:
rental_data.to_csv('Cleaned Rental Data.csv',index=False)

In [63]:
cleaned_df = pd.read_csv('Cleaned Rental Data.csv')

In [64]:
cleaned_df

,House Type,Location,Price,Built up Area in sq.ft,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,5 BHK Flat,Shela,100000,4700.0,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500.0,Ahmedabad
1,4 BHK Villa,Vaishno Devi Circle,60000,7990.0,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500.0,Ahmedabad
2,3 BHK Flat,Shilaj,30000,1750.0,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500.0,Ahmedabad
3,3 BHK Flat,Shantigram,40000,1850.0,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500.0,Ahmedabad
4,3 BHK Flat,Vaishno Devi Circle,46000,1080.0,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500.0,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...
1892,3 BHK Flat,Perungudi,60000,1650.0,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,Not Verified,NaN,Madras
1893,3 BHK Villa,Sholinganallur,90000,1606.0,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,NaN,Madras
1894,4 BHK Flat,Raja Annamalai Puram,400000,3955.0,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,Not Verified,NaN,Madras
1895,2 BHK Flat,Sholinganallur,28000,1240.0,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,Not Verified,NaN,Madras
1896,3 BHK Independent House,Thoraipakkam,30000,2000.0,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,NaN,Madras

In [65]:
cleaned_df.columns

Index(['House Type', 'Location', 'Price', 'Built up Area in sq.ft',
       'Furnishing Status', 'Highlights/Insights', 'Agent Name',
       'Verification Status', 'No. of customer Contacted', 'City'],
      dtype='object')

In [66]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1897 non-null   object
 1   Location                   1897 non-null   object
 2   Price                      1897 non-null   int64
 3   Built up Area in sq.ft     1897 non-null   float64
 4   Furnishing Status          1897 non-null   object
 5   Highlights/Insights        1897 non-null   object
 6   Agent Name                 1897 non-null   object
 7   Verification Status        1897 non-null   object
 8   No. of customer Contacted  1715 non-null   float64
 9   City                       1897 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 148.3+ KB