In [1]:
import pandas as pd
import numpy as np

In [2]:
ahd_df = pd.read_csv('Ahmedabad Rental Data')
bglr_df = pd.read_csv('Bangalore Rental Data')
clt_df = pd.read_csv('Calcutta Rental Data')
delhi_df = pd.read_csv('Delhi Rental Data')
hyd_df = pd.read_csv('Hyderabad Rental Data')
mad_df = pd.read_csv('Madras Rental Data')

#### Deletion of Unnamed columns

In [6]:
del ahd_df['Unnamed: 0']

In [8]:
ahd_df.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+
1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+
2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+
3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+
4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+

In [10]:
del bglr_df['Unnamed: 0']

In [11]:
bglr_df.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,2 BHK Independent House,Hulimavu,"₹22,000",1200 sq.ft,Semi furnished,"['24x7 Security', 'Close to Mall', 'Close to M...",Eesha,Verified,600+
1,2 BHK Flat,Carmelaram,"₹43,000",900 sq.ft,Semi furnished,"['Close to Bus Stop', 'Close to Grocery Stores...",AIM ENTERPRISES,"Verified,New",600+
2,1 BHK Flat,BTM Layout,"₹16,000",650 sq.ft,Semi furnished,"['Close to ATM', 'Close to Bus Stop', 'Close t...",MK HOMES,"Verified,New",600+
3,2 BHK Independent Builder Floor,Singasandra,"₹35,000",1100 sq.ft,Semi furnished,"['24x7 Security', 'Close to Bus Stop', 'Close ...",Prasanna R,"Verified,New",600+
4,2 BHK Independent Builder Floor,Cox Town,"₹30,000",1100 sq.ft,Semi furnished,"['Security Guards', 'Service Lift', 'Sewage Tr...",Micheal,"Verified,New",600+

In [15]:
#del clt_df['Unnamed: 0']

In [16]:
clt_df.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,4 BHK Flat,Ashok Nagar,"₹1,00,000",2114 sq.ft,Semi furnished,"['Gated Community', 'Good Cross Ventilation', ...",Secure Properties,"Verified,New",400+
1,2 BHK Flat,Kaikhali,"₹15,000",1108 sq.ft,Semi furnished,['Amenities: Parking'],The Unique Realtor,Verified,400+
2,4 BHK Flat,New Town,"₹70,000",1650 sq.ft,Un-furnished,"['24x7 Security', 'Gymnasium', 'Swimming Pool'...",Diamond Properties,Verified,400+
3,2 BHK Flat,New Town,"₹22,000",680 sq.ft,Fully furnished,['Amenities: Gas Pipeline'],Abir And Supriti Enterprise,Verified,400+
4,2 BHK Flat,Keshtopur,"₹13,000",1100 sq.ft,Un-furnished,"['Lift', 'Marble', 'Closer to Pharmacy', 'Clos...",RAM THAKUR CONSULTANCY,Verified,400+

In [17]:
del delhi_df['Unnamed: 0']

In [19]:
delhi_df.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,3 BHK Flat,Sector 4 Dwarka,"₹44,000",1700 sq.ft,Semi furnished,"['Lift', 'Gated Community', 'Power Backup', '2...",Link Properties & Developers Pvt Ltd,NaN,900+
1,3 BHK Flat,Sector 24 Dwarka,"₹50,000",2100 sq.ft,Semi furnished,"['Amenities: Gym', 'Lift', 'Parking', 'Garden']",SKYVIEW PROPERTIES,"Verified,New",900+
2,2 BHK Independent Builder Floor,Malviya Nagar,"₹43,000",1200 sq.ft,Fully furnished,"['ATM', '24x7 Security', 'Children Play Area',...",South Delhi Builder Floor,Verified,900+
3,2 BHK Independent Builder Floor,Kalkaji,"₹43,000",1200 sq.ft,Fully furnished,"['24x7 Security', 'Gated Community', 'Close to...",JITIN GAMBHIR,"Verified,New",900+
4,1 BHK Flat,Said-Ul-Ajaib,"₹16,000",900 sq.ft,Semi furnished,"['24x7 Security', 'Utility Shops', 'Metro Stat...",Bright Homes,Verified,900+

In [20]:
del hyd_df['Unnamed: 0']

In [21]:
hyd_df.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,3 BHK Flat,Narsingi,"₹67,000",2020 sq.ft,Semi furnished,"['24x7 Security', 'Basketball Court', 'Busines...",Datrika Srinivas,Verified,700+
1,1 BHK Flat,Madhapur,"₹30,000",650 sq.ft,Fully furnished,"['Close to ATM', 'Close to Bus Stop', 'Close t...",Mudavath Pushkar,Verified,700+
2,4 BHK Villa,Mokila,"₹66,000",3900 sq.ft,Semi furnished,"['24 Hours Concierge', '24x7 Security', 'ATM',...",Venkat Patel,Verified,700+
3,2 BHK Flat,Financial District,"₹64,000",1027 sq.ft,Fully furnished,"['Tennis Court', 'Swimming Pool', 'Basketball ...",Propertify,Verified,700+
4,3 BHK Flat,Madhapur,"₹50,000",2200 sq.ft,Fully furnished,"['Amenities: Lift', 'Parking', 'Power Backup',...",Srinunayak10,Verified,700+

In [22]:
del mad_df['Unnamed: 0']

In [24]:
mad_df.head()

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,4 BHK Flat,Besant Nagar,"₹1,75,000",2700 sq.ft,Semi furnished,"['Close to Grocery Stores', 'Close to Hospital...",KS PROP REALTY,NaN,500+
1,3 BHK Flat,Gopalapuram,"₹1,00,000",2300 sq.ft,Semi furnished,"['Gymnasium', '24x7 Security', 'School Proximi...",Muneer Basha,NaN,500+
2,3 BHK Flat,Thoraipakkam,"₹90,000",2031 sq.ft,Semi furnished,"['Power Backup', 'Swimming Pool', 'Gymnasium',...",Luxclusive Homes,NaN,500+
3,5 BHK Independent House,Panaiyur,"₹1,75,000",6000 sq.ft,Semi furnished,"['24x7 Security', 'Good Cross Ventilation', 'L...",BLUE WAVE ESTATES,NaN,500+
4,2 BHK Flat,Egattur,"₹25,000",700 sq.ft,Semi furnished,"['Amenities: Pool', 'Gym', 'Lift', 'Power Back...",Arjun,NaN,500+

#### Merging

In [26]:
combine_df = pd.concat([ahd_df,bglr_df,clt_df,delhi_df,hyd_df,mad_df], axis = 0, ignore_index=True)

In [27]:
combine_df

,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted
0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+
1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+
2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+
3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+
4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+
...,...,...,...,...,...,...,...,...,...
1945,3 BHK Flat,Perungudi,"₹60,000",1650 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,NaN,NaN
1946,3 BHK Villa,Sholinganallur,"₹90,000",1606 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,NaN,NaN
1947,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3955 sq.ft,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,NaN,NaN
1948,2 BHK Flat,Sholinganallur,"₹28,000",1240 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,NaN,NaN
1949,3 BHK Independent House,Thoraipakkam,"₹30,000",2000 sq.ft,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,NaN

In [30]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   House Type                 1950 non-null   object
 1   Location                   1950 non-null   object
 2   Price                      1950 non-null   object
 3   Built up Area              1950 non-null   object
 4   Furnishing Status          1950 non-null   object
 5   Highlights/Insights        1950 non-null   object
 6   Agent Name                 1950 non-null   object
 7   Verification Status        1609 non-null   object
 8   No. of customer Contacted  1748 non-null   object
dtypes: object(9)
memory usage: 137.2+ KB

In [34]:
combine_df.isnull().sum()/len(combine_df)

House Type                   0.000000
Location                     0.000000
Price                        0.000000
Built up Area                0.000000
Furnishing Status            0.000000
Highlights/Insights          0.000000
Agent Name                   0.000000
Verification Status          0.174872
No. of customer Contacted    0.103590
dtype: float64

In [38]:
lst1 = [ahd_df,bglr_df,clt_df,delhi_df,hyd_df,mad_df]
sum = 0
for i in lst1:
    print(f'{len(i)}')
    sum += len(i)

print(sum,'----------')

240
420
240
240
570
240
1950 ----------

In [40]:
combine_df.to_csv('Rental_dataset.csv')

In [ ]:
ahd_df['City'] = 'Ahmedabad'
bglr_df['City'] = 'Bengaluru'
clt_df['City'] = 'Calcutta'
delhi_df['City'] = 'Delhi'
hyd_df['City'] = 'Hyderabad'
mad_df['City'] = 'Madras'

In [44]:
combine_df = pd.concat([ahd_df,bglr_df,clt_df,delhi_df,hyd_df,mad_df], axis = 0, ignore_index=True)

In [45]:
combine_df.to_csv('Rental_dataset.csv')

In [46]:
rental_data = pd.read_csv('Rental_dataset.csv')

In [47]:
rental_data

,Unnamed: 0,House Type,Location,Price,Built up Area,Furnishing Status,Highlights/Insights,Agent Name,Verification Status,No. of customer Contacted,City
0,0,5 BHK Flat,Shela,"₹1,00,000",4700 sq.ft,Semi furnished,"['Close to Jain Temple', 'Marble', 'Landscaped...",Preet Gandhi,Verified,500+,Ahmedabad
1,1,4 BHK Villa,Vaishno Devi Circle,"₹60,000",7990 sq.ft,Fully furnished,"['Amenities: Parking', 'Gas Pipeline']",JAY DWARKADHISH REAL ESTATE,Verified,500+,Ahmedabad
2,2,3 BHK Flat,Shilaj,"₹30,000",1750 sq.ft,Un-furnished,"['Children Play Area', 'Landscaped Garden', ""K...",Shree Sai Realty,Verified,500+,Ahmedabad
3,3,3 BHK Flat,Shantigram,"₹40,000",1850 sq.ft,Semi furnished,"['24x7 Security', 'Business Center', 'Close to...",Anoop,Verified,500+,Ahmedabad
4,4,3 BHK Flat,Vaishno Devi Circle,"₹46,000",1080 sq.ft,Fully furnished,['Amenities: Parking'],Galaxy Space Realtors,Verified,500+,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...,...
1945,1945,3 BHK Flat,Perungudi,"₹60,000",1650 sq.ft,Semi furnished,"['24x7 Security', 'ATM', 'Close to Airport', '...",JSS BLOOM REALITY,NaN,NaN,Madras
1946,1946,3 BHK Villa,Sholinganallur,"₹90,000",1606 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,NaN,NaN,Madras
1947,1947,4 BHK Flat,Raja Annamalai Puram,"₹4,00,000",3955 sq.ft,Semi furnished,"['Lift', 'Rainwater Harvesting', 'Power Backup...",PROP TODAY LLP,NaN,NaN,Madras
1948,1948,2 BHK Flat,Sholinganallur,"₹28,000",1240 sq.ft,Semi furnished,"['24x7 Security', 'Gated Community', 'Communit...",Casagrand Rent Assure,NaN,NaN,Madras
1949,1949,3 BHK Independent House,Thoraipakkam,"₹30,000",2000 sq.ft,Un-furnished,"['Anti Skid Titles', 'Close to Bus Stop', 'Clo...",Manoj Kumar,Verified,NaN,Madras